                .form{
			width:100%;
			margin:0 auto;
                }
		
                #text{
			width:100%;
			height:150px;
			border:1px solid #000;
		}
                
		.smiles{
			text-align:center;
                        width:100%;
		}
		.smile{
			cursor:pointer;
		}